<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library Management</title>
    <link rel = "icon" href="/images/CMRIT.png" type = "image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/addbook.css">
    <script type="text/javascript" src="/js/addbook.js"></script>
</head>
<body>
    <div class="container fill">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <a class="navbar-brand" href="#">
                <img src=<%= img %> width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Hi! <%= name %> <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form action="/faculty" method="GET">
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item active">
                            <a class="nav-link" href="/user/admin">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-disabled="true">Scan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/user/logout" tabindex="-1" aria-disabled="false">Logout</a>
                        </li>
                    </ul>
                </form>
                
            </div>
        </nav>
        
        <%- include("message") -%>
        <div class="dh">
            <h1>Add new Books to Library Database</h1>
        </div>
        
        <div id="inner">
            <form action="/user/admin/addbook" method="POST" enctype="multipart/form-data">
                <img src="/images/CMRIT.png" alt="" height="180px" width="180px">
                <p><b>Upload file in xlsx formate only!!</b><input type="file" name="fileToUpload" id="fileToUpload" required /></p>
                
                <button type="submit" class="btn btn-primary" name="submit" value="check Book"> Add new Book</button>
            </form>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
</body>
<footer></footer>
</html>
