   body {
   text-align: center;

    line-height: 1.8;
    background: red;
    color: #fff;
    background-image: url("../images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    font-weight: 400;
    font-family: 'Roboto Slab';
    margin: 0px; 
    
}
   
    .submission-form {
        font-size: 18px;
      max-width: 750px;
      margin: 2rem auto;
      border: 2px solid #e74c3c;
      padding: 2rem;
      background-color: rgba(0,0,0,0.6);
    }

    .submission-form label {
      display: inline-block;
    }

    .submission-form input[type=text],.submission-form input[type=email],.submission-form input[type=password],.submission-form input[type=tel],.submission-form input[type=date],
    .submission-form select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .submission-form input[type=submit]{
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .submission-form input[type=submit]:hover {
      background-color: #45a049;
    }
	

